.uploadContainer {
  width: 100%;
  max-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000a7;

  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 999; */
  /* overflow: hidden; */
}

.uploadWrapper {
  width: 700px;
  height: 741px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  background-color: white;
  color: black;
  padding: 20px;
  position: relative;
}

.uploadClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.uploadTitle {
  text-align: center;
}

.uploadInput {
  border: 1px solid #f5f5f5;
  color: black;
  border-radius: 3px;
  padding: 10px;
  background-color: transparent;
  z-index: 999;
}

.uploadDesc {
  border: 1px solid #f5f5f5;
  color: black;
  border-radius: 3px;
  padding: 10px;
  background-color: transparent;
}

.uploadButton {
  border-radius: 3px;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #606060;
}

.uploadLabel {
  font-size: 18px;
}
